<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <capstone-logo></capstone-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-if="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li ng-if='isLoggedIn()'>
                <a  ui-sref-active='active' ui-sref="plan" >My Plans</a>
            </li>
            <li ng-if='user.isAdmin'>
                <a  ui-sref-active='active' ui-sref="admin" >Admin</a>
            </li>
        </ul>
        <div ng-if="!user">
            <button ui-sref="signup" class="btn login-button">Sign Up</button>
            <button ui-sref="login" class="btn login-button">Login</button>
        </div>
        <div ng-if="user" class="welcome">
            <span>Welcome, <a ui-sref-active="active" ui-sref="userProfile">{{ user.username }}!</a></span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>
<div id="page-wrapper">
  <div id="page-viewport">
    <div id="sidebar">
      <div id="sidebar-header">
        <a href="" class="toggle-sidebar"><h3>Menu</h3></a>
        <span class="pull-right">
          <a href="" class="toggle-sidebar btn btn-default">
            <i class="fa fa-bars"></i>
          </a>
        </span> 
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li><a ui-sref="topics">Topics<span class="pull-right"><i class="fa fa-globe"></i></span></a></li>
        <li><a ui-sref="#">Plans<span class="pull-right"><i class="fa fa-list"></i></span></a></li>
        <li><a ui-sref="#">Statistics<span class="pull-right"><i class="fa fa-line-chart"></i></span></a></li>
        <li><a ui-sref="#">Search<span class="pull-right"><i class="fa fa-code"></i></span></a></li>
        <hr>
      </ul>
    </div>
  </div>
</div>
