<div class="modal-body">
  <form name="addTagForm" ng-submit="addTag(tag)" class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="tag" placeholder="tag">
    </div>
    <button class="btn btn-primary" type="submit">
      <span class="glyphicon glyphicon-ok-circle"></span>
    </button>
    <button class="btn btn-warning" type="button" ng-click="close()">
      <span class="glyphicon glyphicon-remove-circle"></span>
    </button>
  </form>
</div>
