<div class="modal-body">
  <form name="suggestTopicForm" ng-submit="suggestTopic(suggestionType, newTopicName)" class="form-inline">
    <select class="form-control" ng-model="newTopicName" style="width: 65%">
      <option ng-repeat="topic in topics">{{ topic.title }}</option>
    </select>
    <button class="btn btn-primary" type="submit">
      <span class="glyphicon glyphicon-ok-circle"></span>
    </button>
    <button class="btn btn-warning" type="button" ng-click="close()">
      <span class="glyphicon glyphicon-remove-circle"></span>
    </button>
  </form>
</div>
