<div class="container">
	<ul>
	  <li ng-repeat="topic in topics"><a ui-sref="topic({ topicId: topic.id })">{{ topic.title }}</a> - {{ topic.description }}</li>
	</ul>

	<!-- ADDING TOPIC FORM -->
	<div ng-controller="ModalCtrl">
	    <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header">
                  <h3 class="modal-title">Add New {{name}} To Grok!</h3>
              </div>
              <div class="modal-body">
                  <form id="topic-form" name="form">
                <div class="form-group">
                    <label for="name">{{name}} Name</label>
                    <input ng-model="TRPname"type="text" name="formTitle" class="form-control" placeholder="Enter {{name}} Name">
                </div>
                <div class="form-group">
                    <label for="description">{{name}} Description</label>
                    <input ng-model="TRPdesc" type="text" name="formDesc" class="form-control"  placeholder="Enter {{name}} Description">
                </div>
                <div ng-if="name === 'Resource'"class="form-group">
                    <label for="url">{{name}} URL</label>
                    <input ng-model="resourceUrl"type="text" class="form-control"  placeholder="Enter {{name}} URL">
                </div>
            </form>
                <div ng-show="showError">
                	<h5>BE CAREFUL! YOU ARE DOING SOMETHING WRONG!</h5>
                </div>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" type="button" ng-click="add()">ADD</button>
                  <button class="btn btn-warning" type="button" ng-click="cancel()">CANCEL</button>
              </div>
          </script>
	    <button type="button" class="btn btn-default" ng-click="open('Topic')">Add Topic</button>
	</div>	
	<!-- END OF ADDING TOPIC FORM -->
</div>	
