<img src="../images/icon-256.png" class="logo-img">
<img src="images/logo-text-only.png" class="logo-img">

<hr>

<!-- only show if not logged in -->
<div ng-if="!isLoggedIn()">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a ui-sref="login">login</a></li>
  </ul>
  <hr>
</div>

<!-- only show if logged in -->
<div ng-if="isLoggedIn()">
  <center>Hi, {{ user.username }}!</center>

  <ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a ui-sref="addResource">add resource</a></li>
    <li role="presentation"><a>show my plan</a></li>
    <hr>
    <li role="presentation"><a ng-click="logout()">logout</a></li>
  </ul>
</div>
