.grok-bar[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.grok-bar[type=text]:focus {
    width: 100%;
}

.topic-description {
    font-size: 18px;
}
