<div class="container">
  <h1 class="page-header">My Profile</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/2000px-Anonymous_emblem.svg.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
    </div>
    <!-- edit form column -->
    <uib-alert type="danger" ng-show="error">
        {{ error }}
    </uib-alert>
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <h3>Personal info</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
              <input class="form-control" ng-model="userUpdate.firstname" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
              <input class="form-control" ng-model="userUpdate.lastname" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="userUpdate.email" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
              <input class="form-control" ng-model="userUpdate.username" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input class="form-control" value="11111122333" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password:</label>
          <div class="col-md-8">
            <input class="form-control" value="11111122333" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <button ng-click="updateUser(userUpdate)" class="btn btn-primary">Save</button>
            <span></span>
            <button ng-click="reset()" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
  <center>
    <div>
      <uib-tabset active="active">
        <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
          <br>
          <div class="row">
              <div class="span5">
                  <table class="table table-striped table-condensed">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th ng-if="tab.title === 'Resources'">URL</th>
                              <th ng-if="tab.title === 'Resources'">Type</th>
                              <th ng-if="tab.title === 'Plans'">Description</th>
                              <th ng-if="tab.title === 'Plans'">Remove</th>
                          </tr>
                      </thead>   
                      <tbody>
                          <tr ng-repeat="content in tab.content">
                              <td>{{content.name}}</td>
                              <td ng-if="tab.title === 'Resources'"><a href="{{content.url}}">{{content.url}}</a></td>
                              <td ng-if="tab.title === 'Resources'"><span class="label label-success">{{content.type}}</span></td>
                              <td ng-if="tab.title === 'Plans'">{{content.description}}</td>
                              <td ng-if="tab.title === 'Plans'"><button ng-click="removePlan(content.id)" class="btn btn-danger btn-xs">Delete</button></td>
                          </tr>                                
                      </tbody>
                  </table>
              </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </center>
</div>
