
.jumbotron {
  background-color: rgba(230,230,230,1.0);
}

.topic-jumbotron {
  height: 100%;
}

.topic-title-cell {
  h1 {
    font-size: 80px;
    margin-top: 0;
  }
  h3 {
    font-size: 18px;
    font-weight: normal;
  }
}

.links-cell {
  .glyphicon {
    font-size: 60px;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    font-size: 24px;
  }
}

.panel-title {
  display: inline;
}

.resource-list-item {
  span {
    float: right;
  }
}

.my-plan-list-item {
  .glyphicon {
    display: none;
    float: right;
  }
  &:hover {
    background-color: lighten(#000, 90%);
    .glyphicon {
      display: inline;
    }
  }
}

.panel-small-row {
  padding: 1px 15px 1px 15px;
  text-align: right;
  h6 {
    margin: 0;
  }
}

.resource-title .glyphicon {
  color: lighten(#000, 60%);
}

.resource-panel {
  .glyphicon-plus-sign {
    display: none;
    color: #d43f3a;
    float: right;
  }
  &:hover {
    cursor: pointer;
    .glyphicon-plus-sign {
      display: inline;
    }
  }
}

.plan-panel {
  .glyphicon-copy {
    display: none;
    color: #d43f3a;
    float: right;
  }
  &:hover {
    cursor: pointer;
    .glyphicon-copy {
      display: inline;
    }
  }
}

.tag {
  font-size: 11px;
  display: inline-block;
  padding: 2px 5px;
  background-color: lighten(#000, 100%);
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-top: 5px;
}

.tag-panel-body {
  padding: 5px;
}

.upvote-resource-box {
  margin-top: 3px;
}
