body {
  width: 600px;
  height: 400px;
  padding-left: 10px;
}

.sidebar {
  background-color: rgba(0,0,0,0.05);
  padding: 10px;
}

#main {
  padding: 10px;
}

.form-control {
  width: 250px;
  display: inline;
}

.logo-img {
  width: 100%;
  margin-bottom: 20px;
}

.btn-navigate {
  width: 90%;
  display: block;
}

.nav li a {
  padding: 5px;
  text-align: center;
}

hr {
  margin: 10px 0 10px 0;
}
