    <!-- MY PLAN -->
    <div class="modal-header">
        <h3 class="modal-title">Add New {{name}} To Grok!</h3>
    </div>
    <center>
      <div class="modal-body panel panel-primary">

        <select ng-options="plan as plan.name for plan in userPlans" ng-model="selectedPlan" class="form-control"></select>

        <div class="panel-heading">
          <h3 class="panel-title">{{ selectedPlan.name }}</h3>
        </div>


        <div class="panel-body">
          {{selectedPlan.description}}
        </div>

        <ul class="list-group">
          <li class="list-group-item my-plan-list-item" ng-repeat="resource in selectedPlan.resources">
            Resource: {{ resource.name }}
            <span ng-click="removeFromPlan(selectedPlan.id, resource.id)" class="glyphicon glyphicon-remove-circle"></span>
            <span ng-click="moveDown(resource.id)" class="glyphicon glyphicon-arrow-down"></span>
            <span ng-click="moveUp(resource.id)" class="glyphicon glyphicon-arrow-up"></span>
          </li>
        </ul>
      </div>
    </center>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="addToPlan(resourceToAdd.id)">ADD TO PLAN</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">CANCEL</button>
    </div>