
<div class="modal-header">
    <h3 class="modal-title">Add New {{name}} To Grok!</h3>
</div>
<div class="modal-body">
    <form id="formId" name="form">
      <div class="form-group">
          <label for="name">{{name}} Name</label>
          <input ng-model="TRPname"type="text" name="formTitle" class="form-control" placeholder="Enter {{name}} Name">
      </div>
      <div ng-hide="showit" class="form-group">
          <label for="description">{{name}} Description</label>
          <input ng-model="TRPdesc" type="text" name="formDesc" class="form-control"  placeholder="Enter {{name}} Description">
      </div>
      <div ng-show="showit"class="form-group">
          <label for="url">{{name}} URL</label>
          <input ng-model="resourceUrl" type="text" name="formUrl" class="form-control"  placeholder="Enter {{name}} URL">
      </div>
      <div ng-show="showit" class="form-group">
          <label for="url">{{name}} Type</label>
          <select ng-model="resourceType" name="type">
            <option value="article">Article</option>
            <option value="video">Video</option>
            <option value="tutorial">Tutorial</option>
            <option value="book">Book</option>
            <option value="other">Other</option>
          </select>
      </div>
  </form>
<div ng-show="showError">
    <h5>BE CAREFUL! YOU ARE DOING SOMETHING WRONG!</h5>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="add()">ADD</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">CANCEL</button>
</div>
